{% assign locale = site.data.[page.lang] %}
<footer class="site-footer">
  <div class="wrapper">
    <div class="footer-columns">
      <div class="footer-column">
        <ul class="contact-list">
          <li>
            © {{ site.time | date: "%Y" }} {{ locale.copyright | escape }}
          </li>
        </ul>
      </div>

      <div class="footer-column">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li class="icon icon-github-circled">
            <a href="https://github.com/{{ site.github_username }}">
              {{ site.github_username }}
            </a>
          </li>
          {% endif %}

          {% if site.email %}
          <li class="icon icon-mail-squared">
            <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-column">
        <p>{{ locale.excerpt | default: site.excerpt | escape }}</p>
      </div>
    </div>
  </div>
</footer>
