<header class="site-header" role="banner">

  <div class="wrapper">

    <a class="site-title" href="{{ "/" | relative_url}}">
      <span class="site-logo"></span>
      {{ site.title | escape }}
    </a>

    <nav class="site-navigation">
      {% assign navigation_pages = site.pages | sort: 'navigation_order' %}
      {% for my_page in navigation_pages %}
        {% if my_page.title %}
        <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
        {% endif %}
      {% endfor %}
    </nav>

  </div>

</header>
